@import url(/css/partials/globals.css);

@import url(/css/fonts.css);

.small-12{
    width: 100%;
}

.small-6{
    width: 50%;
}

/* button */
button#hamburgerBtn{
    background: none;
    border: none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}

/* Nav Styles */

nav{
    background-color: var(--primary-color);
}
nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    list-style-type: none;
}
nav a{
    display: block;
    padding: .8rem 0;
    color: #eee;
    text-align: center;
    text-decoration: none;
}

nav li.active{
    background-color: rgba(0,0,0,0.5);
}

nav a:hover{
    background-color: rgba(0,0,0,0.2);
}

nav ul.open{
    display: block;
}

nav ul{
    display: none;
}



/* Banner Area Styles */
.banner-area{
    background: url(/img/banner/1920x1080.png) no-repeat;
    background-size: cover;
    min-height: 550px;
}

main .banner-area .column{
    text-align: center;
    padding-top: 8rem;
}

main .banner-area .column h3{
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: bold;
}

main .banner-area .column h4{
    color: var(--secondary-color);
    font-size: .8rem;
    font-weight: 400;
}
/* End Banner Area Styles*/


/* About Me Area Styles */

main .about-me-area{
    
    padding-top: 2rem;
}



main .about-me-area .column img{
    width: 70%;
    padding-top: 8rem;
    padding-left: .5rem;
    
}

main .about-me-area .column h1{
    letter-spacing: .8rem;
}

/* End About Me Area Styles */

/* Services Area */


main .services-area section img{
    width: 100%;
}


/* End Services Area */


/* Project Area */

main .project-area section img{
    width: 100%;
}
/* End Project Area */

