@import url(/css/partials/globals.css);

@import url(/css/fonts.css);

.small-12{
    width: 100%;
}

.small-6{
    width: 50%;
}

/* button */
button#hamburgerBtn{
    background: none;
    border: none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}

/* Nav Styles */

nav{
    background-color: var(--primary-color);
    
    
}
nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    list-style-type: none;
}
nav a{
    display: block;
    padding: .8rem 0;
    color: #eee;
    text-align: center;
    text-decoration: none;
}

nav li.active{
    background-color: rgba(0,0,0,0.5);
}

nav a:hover{
    background-color: rgba(0,0,0,0.2);
}

nav ul.open{
    display: block;
}

nav ul{
    display: none;
}



/* Banner Area Styles */
.banner-area{
    background: url(../img/banner/1920x1080.png) no-repeat;
    background-size: cover;
    min-height: 550px;
}

main .banner-area .column{
    text-align: center;
    padding-top: 8rem;
}

main .banner-area .column h3{
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: bold;
}

main .banner-area .column h4{
    color: var(--secondary-color);
    font-size: .8rem;
    font-weight: 400;
}
/* End Banner Area Styles*/


/* About Me Area Styles */

main .about-me-area{
    
    padding-top: 1rem;
    
}



main .about-me-area .column img{
    width: 70%;
    padding-top: 8rem;
    padding-left: .5rem;
    
}

main .about-me-area .column h1, p{
    padding-left: .3rem;
}

main .about-me-area .column p{
    padding-right: .3rem;
}

main .about-me-area .btn-column{
    padding-top: .5rem;
}

/* End About Me Area Styles */

/* Services Area */

main .services-area{
    padding-top: 3rem;
}
main .services-area section h1{
    padding-left: .3rem;
}


main .services-area section img{
    width: 100%;
}

main .services-area section .card-title{
    text-align: center;
    color: var(--primary-color);
}

main .services-area section .card-text{
    padding-bottom: .9rem;
    font-size: .8rem;
    text-align: center;
}

main .services-area .card-area{
    background-color: var(--background-color);
}

/* End Services Area */


/* Project Area */

main .project-area{
    padding-top: 2rem;
    
}

main .project-area section h1{
    padding-left: .3rem;
}

main .project-area .project{
    text-align: center;
    
    
}

main .project-area section img{
    width: 80%;
}

main .project-area section p{
    text-align: left;
    padding-left: 1.94rem;
}
/* End Project Area */

/* Contact Area */
main .contact-area {
    background-color: var(--background-color);
}

main .contact-area section h1{
    padding-left: .3rem;
}

main .contact-area .input-place{
    text-align: center;
}

main .contact-area .input-place .btn-submit{
    padding-top: .5rem;
}




/* Footer Area */

footer{
    padding-top: 4rem;
}

footer .row{
    background-color: var(--primary-color);
    text-align: center;
}

footer .row a{
    color: grey;
}

footer .row .copyrights p{
    text-align: center;
}

footer .row .social a{
    padding: .1rem;
}

/* End Footer Area */



