@import url(/css/partials/globals.css);

@import url(/css/fonts.css);

.small-12{
    width: 100%;
}

.small-6{
    width: 50%;
}

/* button */
button#hamburgerBtn{
    background: none;
    border: none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}

/* Header Styles*/
header{
    background-color: var(--primary-color);
    
}

.img-logo{
    
    display: block;
    text-align: center;
}
/* End Header Styles*/



/* Nav Styles */

nav {
    background: var(--primary-color);
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
 




/* Banner Area Styles */
.banner-area{
    background: url(../img/banner/sincerely-media-bUxF1M7N4e0-unsplash.jpg) no-repeat;
    background-size: cover;
    min-height: 550px;
}

main .banner-area .column{
    text-align: center;
    padding-top: 5rem;
}

main .banner-area .column h3{
    color: var(--primary-color);
    font: normal bold 3rem/0  var(--miso);
    letter-spacing: .1rem;
    
    
}

main .banner-area .column h4{
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 400;
}


/* End Banner Area Styles*/

/* Colab Area Styles */
main .colab-area{
    background-color: var(--secondary-color2);
    padding-bottom: 4rem;
}

main .colab-area img{
    display: block;
    margin: auto;
}

main .colab-area h2{
    padding-left: .5rem;
}


/* End Colab Area Styles */


/* About Me Area Styles */

main .about-me-area{
    text-align: center;
    padding-top: 1rem;
    
}



main .about-me-area .column img{
    width: 70%;
    padding-top: 8rem;
    padding-left: .5rem;
    
}

main .about-me-area .column h1, p{
    padding-left: .3rem;
}

main .about-me-area .column p{
    padding-right: .3rem;
}

main .about-me-area .btn-column{
    padding-top: .5rem;
}

/* End About Me Area Styles */

/* Services Area */

main .services-area{
    padding-top: 3rem;
    text-align: center;
    justify-content: space-around;
}

main .services-area .column i{
    font-size: 40px;
    color: var(--secondary-color);
}

main .services-area .column h1{
    padding-bottom: 1rem;
}

main .services-area .column h3{
    margin-top: -.01rem;
}

main .services-area .column p{
    padding-bottom: 1rem;
}

/* End Services Area */


/* Project Area */

main .project-area{
    padding-top: 2rem;
    text-align: center;
    
}

main .project-area section h1{
    padding-left: .3rem;
}

main .project-area .project{
    text-align: center;
    
    
}

main .project-area section img{
    width: 80%;
}

main .project-area section p{
    text-align: left;
    padding-left: 1.94rem;
}
/* End Project Area */

/* Contact Area */
main .contact-area {
    background-color: var(--background-color);
}

main .contact-area section h1{
    padding-left: .3rem;
}

main .contact-area .input-place{
    text-align: center;
}

main .contact-area .input-place .btn-submit{
    padding-top: .5rem;
}




/* Footer Area */

footer{
    padding-top: 4rem;
}

footer .row{
    background-color: var(--primary-color);
    text-align: center;
}

footer .row a{
    color: #fff;
}

footer .row .copyrights p{
    text-align: center;
}

footer .row .social a{
    padding: .1rem;
}

/* End Footer Area */



