@import url(./css/partials/variables.css);

@import url(./css/partials/globals.css);

@import url(./css/fonts.css);

/* Header Area Styles*/


.header-area{
    width: 100%;
    
}



.header-area .navbar{
    width: 50%;
    float: right;
    display: flex;
}

.header-area .navbar .navbar-nav > li{
    list-style: none;
}

.header-area .navbar .navbar-nav > li .nav-link{
    text-decoration: none;
    color: var(--primary-color);
    font: normal 100 18px/0 var(--montserrat);
}

/* End Header Area Styles*/

/* Start Banner Area */

.main-site{
    width: 100%;
    height: 100%;
    
}

.main-site .banner-area{
    background: url(./img/banner/willian-justen-de-vasconcellos-_MMP5j_fCqw-unsplash.jpg);
    background-size: cover;
    padding-bottom: 3.3rem;
    height: 100%;
    width: 100%;
    display: flex;
    
}


.main-site .banner-area .banner-titles{   
    width: 100%;
    
    padding-top: 10rem;
}

.main-site .banner-area .banner-titles h4{
    text-align: center;
    font: normal 100 1rem/30px var(--montserrat);
    color: #ffffff;
}

.main-site .banner-area .banner-titles h3{
    text-align: center;
    font: normal 700 5rem/30px var(--montserrat);
    color: var(--primary-color);
}


/* End Banner Area */

/* About Me Area */

.main-site .about-area{
    padding-top: 4rem;
    margin-left: 6rem; margin-right: 6rem;
    padding-bottom: 7.5rem;
}

.main-site .about-area .flex-container{
    padding-top: 8rem;
    display: flex;
    align-content: center;
}

.main-site .about-area .flex-container .about-img{
    width: 50%;
}

.main-site .about-area .flex-container .about-img img{
    width: 90%;
}

.main-site .about-area .flex-container .about-me{
    width: 50%;
    
}

.main-site .about-area .flex-container .about-me h1, p{
    padding-left: .5rem;
    
}


/* End About Me Area */

/* Services Area */
.main-site .services-area{
    margin-left: 6rem; margin-right: 6rem;
}


.main-site .services-area .services-list{
    display: flex;
}

.main-site .services-area .services-list .services-card{
    padding: 1rem;
}

.main-site .services-area .services-list .services-card > h5{
    text-align: center;
}



/* End Services Area */

/* Project Area */

.main-site .project-area{
    margin-left: 6rem; margin-right: 6rem;
}

.main-site .project-area .button-group > button{
    background: transparent;
    border: none;
    font: normal 500 .9rem/139px var(--montserrat);
    text-transform: uppercase;
}

.main-site .project-area .flex-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

.main-site .project-area .flex-container > div{
    padding: .5rem;
    width: 30%;
    text-align: center;
}

.main-site .project-area .flex-container .our-project img{
    width: 100%;
}


/* End Proyect Area */

/* Footer Area */

footer{
    margin-top: 1000px;
}

footer .footer-area{
    padding: 5rem 0;
    background: var(--primary-color2);
}

footer .footer-area .social h5{
    font: normal 500 23px/ 30px var(--montserrat);
}

footer .footer-area .social a > i{
    font-size: 22px;
    padding: 2rem;
    color: var(--border-color);
}

footer .footer-area .social a:hover > i{
    color: var(--primary-color);
}
/* End Footer Area */


