@media only screen and (min-width: 992px) {
    .large-3{
        width: 25%;
    }

    .item {
        display: block;
        width: auto;
      }
      .toggle {
        display: none;
      }
      .logo {
        order: 0;
      }
      .item {
        order: 1;
      }
      .button {
        order: 2;
      }
      .menu li {
        padding: 15px 10px;
      }
      .menu li.button {
        padding-right: 0;
      }
    
    main .banner-area .column h3{
      font-size: 3.5rem;
    }  
}