@media only screen and (min-width: 768px) {
    .medium-6{
        width: 50%;
    }
    
    .menu {
        justify-content: center;
      }
      .logo {
        flex: 1;
      }
      .toggle {
        flex: 1;
        text-align: right;
      }
      .item.button {
        width: auto;
        order: 1;
        display: block;
      }
      .toggle {
        order: 2;
      }
      .button.secondary {
        border: 0;
      }
      .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
      }
      .button.secondary a {
        background: transparent;
      }
      .button a:hover {
        text-decoration: none;
      }
      .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
      }
      .button.secondary a:hover {
        color: #ddd;
      }
    

    /* Banner Area */

    main .banner-area .column h3{
        font-size: 3rem;
    }

    main .banner-area .column h4{
        
        font-size: 1rem;
        
    }
    /* End Banner Area */

    /* About Me Area */
    main .about-me-area .column h1, p{
        text-align: left;
    }

    main .about-me-area .column h1{
        font-size: 2rem;
        letter-spacing: .3rem;
    }

    main .about-me-area .btn-column{
        text-align: center;
        padding-top: 1rem;
    }
    

    /* End About Me Area */

    /* Services Area*/
    
    

    /* End project Area*/
    main .project-area{
        padding-top: 4rem;
    }


    /* End project Area*/


    /* Contact Area*/
    main .contact-area{
        padding-top: 3rem;
    }




    /* End Contact Area*/
    


    /* Globals Changes*/

    .title-text{
        font-size: 2rem;
    }
}