a{
    text-decoration: none;
}

.title-text{
    font: normal 400 2.8rem/.8rem var(--montserrat);
    color: var(--primary-color);
    text-align: center;
}

.about-title{
    font: normal bold 2.8rem/.8rem var(--montserrat);
    color: var(--primary-color);
    letter-spacing: 1rem;
}

p.para{
    font: normal 200 1rem/1.8rem var(--montserrat);
}

.text-uppercase{
    text-transform: uppercase;
}


/* Button Styles */

.btn{
    border-radius: 4px;
    padding: .8rem 2.2rem;
    font: normal 500 1rem/1rem var(--montserrat);
    color: whitesmoke;
    background: var(--gradient-color);
    position: relative;
}
