html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: normal 100 18px var(--montserrat);
}

a{
    text-decoration: none;
}

.title-text{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
      
}

.secondary-text{
    font-size: .8rem;
    color: hsl(0, 0%, 0%, .7);
}

.text-uppercase{
    text-transform: uppercase;
}

.para{
    font: normal 500 .6rem/1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.row-2{
    
    clear: both;
}

.column{
    float: left;
}

.clear-fix:after{ /* Para aplicar al footer, mainsite, nav, etc. */
    content: "";
    display: table;
    clear: both;
    
}

.limited{
    max-width: 1000px;
    margin: auto;
}


.fixed-nav{
    position: fixed;
    min-height: auto;
    width: 360px;
    text-align: center;
    word-wrap: break-word;
    z-index: 100;
}



/* Buttons Styles*/
button.btn{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--montserrat);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}



