@import url(/css/fonts.css);



:root{
    --header-color: #d6d3ca;
    --background-color: #fbfaf1;
    --primary-color: #12465b;
    --secondary-color: #d8574a;
    /*  ->>>> Hey! Haz un grandient color con el secondary, oki? Para btn*/

    --caslon: "caslon", normal;
}